<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mundane.mail.mapper.RedBookCollectMapper">
    <select id="findByNoteId" resultType="com.mundane.mail.entity.RedBookCollectEntity">
        SELECT * FROM tb_redbook_collect WHERE note_id = #{id}
    </select>

    <insert id="batchAddOrUpdate" parameterType="java.util.List">
        insert into tb_redbook_collect(
        user_id,
        note_id,
        xsec_token,
        display_title,
        `type`,
        cover_url,
        owner_id,
        owner_nickname,
        owner_avatar,
        liked,
        liked_count,
        patch_index,
        collect_index,
        create_date,
        create_time,
        update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.noteId},
            #{item.xsecToken},
            #{item.displayTitle},
            #{item.type},
            #{item.coverUrl},
            #{item.ownerId},
            #{item.ownerNickname},
            #{item.ownerAvatar},
            #{item.liked},
            #{item.likedCount},
            #{item.patchIndex},
            #{item.collectIndex},
            current_date(),
            now(),
            now()
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        display_title=VALUES(display_title),
        xsec_token=VALUSE(xsec_token),
        cover_url=VALUES(cover_url),
        owner_nickname=VALUES(owner_nickname),
        owner_avatar=VALUES(owner_avatar),
        liked=VALUES(liked),
        liked_count=VALUES(liked_count),
        patch_index=VALUES(patch_index),
        collect_index=VALUES(collect_index),
        update_time=now()
    </insert>

    <select id="queryAllByUserId" resultType="com.mundane.mail.entity.RedBookCollectEntity">
        select
            tc.user_id,
            tc.note_id,
            tc.display_title,
            tc.`type`,
            tc.cover_url,
            tc.owner_id,
            tc.owner_nickname,
            tc.owner_avatar,
            tc.liked,
            tc.liked_count
        from
            tb_redbook_collect tc
        <where>
            user_id = #{userId}
        </where>
        order by
            tc.create_date desc,
            tc.patch_index asc,
            tc.collect_index asc
    </select>

    <select id="queryByUserId" resultType="com.mundane.mail.dto.RedBookCollectDto">
        select
            tc.user_id,
            tc.note_id,
            tc.xsec_token,
            tc.display_title,
            tc.type,
            tc.cover_url,
            tc.owner_id,
            tc.owner_nickname,
            tc.owner_avatar,
            tc.liked,
            tc.liked_count,
            tn.note_id as detailId,
            tn.note_desc,
            tn.tags,
            tn.status,
            tn.pic_path_list
        from
            tb_redbook_collect tc
        left join
            tb_redbook_note tn
        on
            tc.note_id=tn.note_id
            <where>
                tc.user_id = #{userId}
                <if test="displayTitle != null and displayTitle != ''">
                    and LOWER(tc.display_title) LIKE LOWER(concat('%', #{displayTitle}, '%'))
                </if>
                <if test="ownerNickname != null and ownerNickname != ''">
                    and LOWER(tc.owner_nickname) LIKE LOWER(concat('%', #{ownerNickname}, '%'))
                </if>
            </where>
        order by
            tc.create_date desc,
            tc.patch_index asc,
            tc.collect_index asc
    </select>

    <delete id="deleteByUserId">
        delete from tb_redbook_collect
        <where>
            user_id = #{userId}
        </where>
    </delete>

</mapper>