<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mundane.mail.mapper.RedBookLikeMapper">

    <insert id="batchAddOrUpdate" parameterType="java.util.List">
        insert into tb_redbook_like(
        user_id,
        note_id,
        xsec_token,
        display_title,
        `type`,
        cover_url,
        owner_id,
        owner_nickname,
        owner_avatar,
        liked,
        liked_count,
        create_date,
        create_time,
        update_time)
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.userId},
            #{item.noteId},
            #{item.xsecToken},
            #{item.displayTitle},
            #{item.type},
            #{item.coverUrl},
            #{item.ownerId},
            #{item.ownerNickname},
            #{item.ownerAvatar},
            #{item.liked},
            #{item.likedCount},
            current_date(),
            now(),
            now()
            )
        </foreach>
        ON DUPLICATE KEY UPDATE
        display_title=VALUES(display_title),
        xsec_token=VALUES(xsec_token),
        cover_url=VALUES(cover_url),
        owner_nickname=VALUES(owner_nickname),
        owner_avatar=VALUES(owner_avatar),
        liked=VALUES(liked),
        liked_count=VALUES(liked_count),
        update_time=now()
    </insert>

    <select id="queryByUserId" resultType="com.mundane.mail.dto.RedBookLikeDto">
        select
            tl.user_id,
            tl.note_id,
            tl.xsec_token,
            tl.display_title,
            tl.type,
            tl.cover_url,
            tl.owner_id,
            tl.owner_nickname,
            tl.owner_avatar,
            tl.liked,
            tl.liked_count,
            tn.note_id as detailId,
            tn.note_desc,
            tn.tags,
            tn.status
        from
            tb_redbook_like tl
        left join
            tb_redbook_note tn
        on
            tl.note_id=tn.note_id
        <where>
            tl.user_id = #{userId}
            <if test="displayTitle != null and displayTitle != ''">
                and LOWER(tl.display_title) LIKE LOWER(concat('%', #{displayTitle}, '%'))
            </if>
            <if test="ownerNickname != null and ownerNickname != ''">
                and LOWER(tl.owner_nickname) LIKE LOWER(concat('%', #{ownerNickname}, '%'))
            </if>
        </where>
        order by
            tl.create_date desc,
            tl.create_time asc,
            tl.update_time asc
    </select>

    <select id="queryAllByUserId" resultType="com.mundane.mail.entity.RedBookLikeEntity">
        select
            tl.user_id,
            tl.note_id,
            tl.display_title,
            tl.`type`,
            tl.cover_url,
            tl.owner_id,
            tl.owner_nickname,
            tl.owner_avatar,
            tl.liked,
            tl.liked_count
        from
            tb_redbook_like tl
        <where>
            user_id = #{userId}
        </where>
        order by
            tl.create_date desc,
            tl.create_time asc,
            tl.update_time asc
    </select>

    <delete id="deleteByUserId">
        delete from tb_redbook_like
        <where>
            user_id = #{userId}
        </where>
    </delete>


</mapper>